<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로또 번호 분석</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
    <h1>로또 번호 분석</h1>
    <pre>
        숫자 6개 모두 일치하면 1등
        숫자 5개 일치 + 보너스 번호 일치하면 2등
        숫자 5개 일치하면 3등
        숫자 4개 일치하면 4등(50000원)
        숫자 3개 일치하면 5등(5000원)
    </pre>
    <!-- <form id="form1" method="POST">
        {% csrf_token %}
        <input type="date" name="start_date" id='datePicker1' min='2002-12-07'>
        <input type="date" name="end_date" id="datePicker2" min='2002-12-07'>
        <button type="button" onclick="ajaxSelect();">
            검색
        </button>
    </form> -->
    
    <hr>
    
    <form id="form2">
        {% csrf_token %}
        <input type="number" min="1" max="{{ last_round }}" value="{{ last_round }}" id="round" name="round">
        <button type="button" onclick="analyze();">
            분석
        </button>
    </form>
    
    <div id="container"></div>
    
    
    <script>
        // document.getElementById('datePicker1').max = new Date().toISOString().split("T")[0];
        // document.getElementById('datePicker2').max = new Date().toISOString().split("T")[0];
        // document.getElementById('datePicker2').valueAsDate = new Date();
        
        var chart = Highcharts.chart('container', {

        title: {
            text: '총 {{ total_round }}회차'
        },

        subtitle: {
            text: '2002-12-07 ~ '+$('#datePicker2').val()
        },

        xAxis: {
            categories: {{ numbers }}
        },
        
         yAxis:{
            plotLines: [{
                color: '#FF0000',
                width: 2,
                value: {{ total_round }}*7/45,
                zIndex: 5,
                label: {
                    text: '평균값 '+({{ total_round }}*7/45).toFixed(1),
                    align: 'right',
                    x: -10
                }                     
            }]
        },

        series: [{
            type: 'column',
            colorByPoint: false,
            data: {{ counts }},
            showInLegend: false
        }]

        });
        
        // function ajaxSelect(){
        //     var date1 = $('#datePicker1').val();
        //     var date2 = $('#datePicker2').val();
            
        //     if (!date1 || !date2) {
        //         alert('날짜를 입력해주세요');
        //         return;
        //     }else if(date1>date2){
        //         alert('기간이 잘못 입력되었습니다');
        //         return;
        //     }
            
        //     $.ajax({
        //         url:"{% url 'python_lotto_app:ajax' %}",
        //         type: 'POST',
        //         data: $('#form1').serialize(),
        //         dataType: "json",
        //         success:function(result){
        //             chart.update({
        //                 title: {
        //                     text: '총 '+result.total_round+'회차'
        //                 },
                        
        //                 subtitle: {
        //                     text: $('#datePicker1').val()+' ~ '+$('#datePicker2').val()
        //                 },
                        
        //                 xAxis: {
        //                     categories: result.numbers
        //                 },
                        
        //                 yAxis:{
        //                     plotLines: [{
        //                         color: '#FF0000',
        //                         width: 2,
        //                         value: result.total_round*7/45,
        //                         zIndex: 5,
        //                         label: {
        //                             text: '평균값 '+(result.total_round*7/45).toFixed(1),
        //                             align: 'right',
        //                             x: -10
        //                         }
        //                     }]
        //                 },
    
        //                 series: [{
        //                     data: result.counts
        //                 }]
        //             });
        //         }
        //     })
        // }
        
        
        function analyze(){
            var num = $('#round').val();
            $.ajax({
                url:"{% url 'python_lotto_app:analyze' %}",
                type: 'POST',
                data: {"round": num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success:function(result){
                    
                    Highcharts.chart('container', {

                    title: {
                        text: num+'회차'
                    },
                        
                    subtitle: {
                        text: '로또 번호 분석'
                    },


                    xAxis: {
                        categories: result.categories
                    },

                     yAxis:{
                        plotLines: [{
                            color: '#FF0000',
                            width: 2,
                            value: result.total_round*7/45,
                            zIndex: 5,
                            label: {
                                text: '평균값 '+(result.total_round*7/45).toFixed(1),
                                align: 'right',
                                x: -10
                            }                     
                        }]
                    },

                    series: [{
                        type: 'column',
                        colorByPoint: false,
                        data: result.data,
                        showInLegend: false
                    }]

                    });
                   
                }
            })
        }
        
   </script> 
</body>
</html>